
h1 {
    color: black;
    font-size: 40px;
}


body{
    background-color:rgb(64, 78, 67);
    text-align: center;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 50em;
    
}

.foto-dita{
    width: 400px;
    border-radius: 20px;
    filter: grayscale(100%);

}

.kontakt{
    text-decoration: none;
    color:rgb(3, 29, 8);
    
}

.fb{
    padding-right: 5px;
    width: 20px; 
}

.mail{

    padding-right: 5px;
}

ul,
li {
    list-style-type:none;
}

.ramecek {
    background-color: rgb(85, 102, 85);
    padding: 50px;
}
